<!DOCTYPE html>
<html lang='ru'>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error occured</title>

    <!-- Common scripts -->
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/auth.css">
  </head>
  <body>
    <header class="mb-2 bg-dark">
      <div class="container">
        <div class="row">
          <div class="mt-2 col-12 text-right">
            <p class="text-white h4">Chop Chop Trader</p>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <!-- Auth -->
      <div class="login text-center text-white">
        <h2>Error: ${status}</h1>
        <h1>${message}</h4>
        <p>${text}</p>
      </div>
    </div>
    <footer>
      <!-- Footer here -->
    </footer>
  </body>
</html>
